@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&family=Raleway:wght@900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

::selection{
    background-color: #1C3879;
    color: white;
}
#menu{
    display: none;
    font-size: 30px;
    position: absolute;
    top: 23px;
    right: 0;
}
#close{
    font-size: 33px;
    display: none;
    position: absolute;
    top: 20px;
    right: 0;
    margin: 0 20px;
}
@keyframes fade-out{
    100%{
        opacity: 1;
    }
    0%{
        opacity: 0;
        display: none;
    }
}
.faded-animation{
    animation-name: fade-out;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90px;
    background-color: #00a9e9;
    color: white;
}
.logo-img{
    width: 8%;
    cursor: pointer;
}

.nav-center ul{
    list-style: none;
    display: flex;
    align-items: center;
}
.nav-center ul li{
    margin: 0 10px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
    z-index: 1020;
}
.nav-center ul li:hover{
    border-bottom: 2px solid white;
}
.cart:hover{
    text-decoration: underline;
    cursor: pointer;
}

.container-1{
    display: flex;
    width: 90%;
    margin: 20px auto;
}

.row-1{
    padding: 90px 0;
}

.row-1 h1{
    line-height: 1.08;
    text-transform: uppercase;
    font-weight: 800;
    margin: 40px 0;
    font-size: 55px;
}
.underline{
    border-bottom: 5px solid black;
} 
.row-1 p{
    /* border: 1px solid; */
    width: 62%;
    margin-top: 80px;
    margin-bottom: 80px;
    font-weight: 500;
    font-size: 20px;
    word-break: break-all;
}
.row-2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.shop-now-btn{
    background-color: #00a9e9;
    color: white;
    font-weight: 500;
    border: none;
    padding: 10px 25px;
    border-radius: 80px;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all ease 0.4s;
}

.shop-now-btn:hover{
    background-color: #0497cd;
}
.shoe-img{
    width: 100%;
    animation-name: shoe-floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    z-index: -10;
}

.container-2{
    background-color: #00a9e9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading{
    text-align: center;
    font-size: 35px;
    color: white;
    padding: 20px 0 2px 0;
    text-transform: uppercase;
}

.line{
    background-color: white;
    width: 100px;
    height: 3px;
    margin: auto;
    color: white;
    border-radius: 10px;
}

.line-2{
    background-color: white;
    width: 40px;
    height: 3px;
    margin: 5px auto;
    color: white;
    border-radius: 10px;
}

.card-container{
    width: 70%;
    margin: 30px auto;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    width: 300px;
    margin: 10px;
    padding: 20px 10px 0 10px;
    background-color: #fffffff0;
    border-radius: 30px;
    text-align: center;
    transition: all ease 0.4s;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.100);
}

.card:hover{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.300);
    transform: scale(1.01);
    background-color: white;

}

.card::before{
    filter: blur(10px);
}

.card .product-img{
    width: 100%;
}

.card .caption{
    color: grey;
}

.card .title{
    font-size:22px;
    margin: 5px 0;
}

.card .ratings{
    display: flex;
    justify-content: space-around;
    padding: 0 5px;
}

.card .ratings  .stars{
    margin: 0 10px;
}

.card .ratings  .stars .star{
    color: rgb(255, 191, 0);
    font-size: 20px;
}

.card .ratings .review{
    color: grey;
    margin: 0 5px;
}

.underline-1{
    text-decoration: underline;
}

.mini-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    /* margin: 30px 0; */
    padding: 30px 20px;
}

.card .card-shop-btn{
    background-color: #00a9e9;
    color: white;
    border: none;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 25px;
    border-radius: 80px;
    cursor: pointer;
    transition: all ease 0.4s;
}

.card .card-shop-btn:hover{
    background-color: #0497cd;
}

.price{
    font-size: 25px;
    font-weight: 600;
}

.container-3{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin: 50px 0;
}

.container-3 .c3-row-1{
    text-align: center;
}

@keyframes shoe-floating {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.03) rotate(1deg);
    }
    100%{
        transform: scale(1) rotate(0deg);
    }
}

.container-3 .c3-row-1 .c3-row-1-img{
    width: 70%;
    animation-name: shoe-floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transition: all ease 0.5s;
}

.container-3 .c3-row-1, .c3-row-2{
    width: 50%;
}

.container-3 .c3-row-2 h1{
    font-size: 45px;
    line-height: 1.2;
    margin: 60px 0;
}

.container-3 .c3-row-2 p{
    font-weight: 500;
    /* border: 1px solid black; */
    width: 75%;
    word-break: break-all;
    margin: 20px 0;
}

.read-more-btn{
    background-color: #00a9e9;
    color: white;
    border: none;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 25px;
    border-radius: 80px;
    cursor: pointer;
    transition: all ease 0.4s;
}

.read-more-btn:hover{
    background-color: #0497cd;
}

.img-cont{
    width: 80%;
    margin: auto;
}

.container-4{
    background-color: #00a9e9;
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-4 .video-header h1{
    color: #ffffff;
    /* -webkit-text-stroke : 4px rgb(23, 44, 230); */
    text-shadow:0 5px 10px #00000023;
    font-size: 60px;
    line-height: 1.2;
    text-transform: uppercase;
    font-family: 'Raleway';
    font-weight: 800;
}

.btn-div{
    text-align: right;
    width: 75%;
}


/* media queries  */
@media (max-width: 1440px){
    .container-4 .video-header h1 {
        font-size: 50px;
    }
    .video-embed{
        width: 710px;
        height: 400px;
    }
}
@media (max-width: 1200px){
    .container-1{
        width: 94%;
    }
    .row-1{
        flex-basis: 100%;
    }
    .row-2{
        flex-basis: 100%;
    }
    .row-1 h1{
        font-size: 50px;
    }
    .row-1 p{
        font-size: 17px;
        width: 85%;
    }
    .card-container{
        width: 95%;
    }
    .card{
        width: 200px;
        flex-grow: 1;
    }
    .card .title{
        font-size: 20px;
    }
    .card .ratings{
        flex-direction: column;
    }
    .mini-flex{
        flex-direction: column-reverse;
        padding: 10px;
    }
    .container-3 .c3-row-2 h1{
        font-size: 30px;
    }
    .container-3 .c3-row-2 p {
        width: 90%;
        font-size: 16px;
    }
    .container-4 .video-header h1 {
        font-size: 30px;
    }
    .video-embed{
        width: 500px;
        height: 271px;
    }
    .btn-div{
        width: 90%;
    }
}
@media (max-width: 767px){
    .logo-img{
        width: 12%;
    }
    .logo-menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav{
        display: block;
    }

    

    .nav-center .nav-items{
        color: white;
        flex-direction: column;
        align-items: start;
        background-color: black;
        /* display: none; */
        position: relative;
        top: -300px;
        z-index: -1;
        transition: all ease 0.5s;
    }
    .nav-center .nav-items.show-nav{
        top: -9px;
    }
    #menu{
        display: block;
        margin: 0 20px;
    }
    .nav-end{
        display: none;
    }
    .nav-center ul li{
        margin: 8px;
        font-size: 17px;
        text-transform: capitalize;
    }
}

@media(max-width: 576px){
    .container-4{
        flex-wrap: wrap;
        justify-content: center;
    }
    .container-4 .video-header h1{
        text-align: center;
    }
    .logo-img{
        width: 20%;
    }
    .container-1{
        flex-wrap: wrap-reverse;
    }
    .row-1{
        padding: 0;
        text-align: center;
    }
    .row-1 h1{
        font-size: 40px;
    }
    .row-1 p{
        margin: auto;
        margin-bottom: 20px;
    }
    .underline{
        border: none;
    }
    .container-3{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .container-3 .c3-row-1, .c3-row-2 {
        width: 100%;
    }
    .container-3 .c3-row-2 h1{
        text-align: center;
        word-wrap: break-word;
    }
    .container-3 .c3-row-2 p{
        text-align: center;
        margin: 20px auto;
    }
    .btn-div{
        width: 100%;
        text-align: center;
    }
}